<div class="h-1/3 w-1/2">
  <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
    <div class="w-full">
      <nz-form-item
        class="w-full flex flex-row justify-start items-center relative"
      >
        <nz-form-label
          class="block text-gray-700 text-sm font-bold mb-2"
          nzRequired
          >Name</nz-form-label
        >
        <nz-form-control
          [nzSpan]="20"
          nzHasFeedback
          class="ml-12 absolute w-48"
          nzValidatingTip="Validating..."
          [nzErrorTip]="userErrorTpl"
        >
          <input
            nz-input
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            formControlName="name"
            placeholder="Please enter your name"
          />
          <ng-template #userErrorTpl let-control>
            <ng-container *ngIf="control.hasError('required')"
              >Please input your name!</ng-container
            >
          </ng-template>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div class="w-full">
      <nz-form-item>
        <nz-form-label
          class="block text-gray-700 text-sm font-bold mb-2"
          nzRequired
          >Sur Name</nz-form-label
        >
        <nz-form-control
          [nzSpan]="20"
          nzHasFeedback
          class="ml-6 absolute"
          nzValidatingTip="Validating..."
          nzErrorTip="Please input your sur name"
        >
          <input
            nz-input
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            formControlName="surname"
            placeholder="Please enter your surname"
          />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div class="w-full">
      <nz-form-item>
        <nz-form-label
          class="block text-gray-700 text-sm font-bold mb-2"
          nzRequired
          >Date of birth</nz-form-label
        >
        <nz-form-control
          [nzSpan]="20"
          class="ml-2 absolute"
          nzHasFeedback
          nzValidatingTip="Validating..."
          nzErrorTip="Please insert your BIrthdate"
        >
          <nz-date-picker
            formControlName="dateOfBirth"
            nzPlaceHolder=" dd.mm.yyyy "
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          ></nz-date-picker>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div class="w-full">
      <nz-form-item class="flex flex-row justify-start items-center relative">
        <nz-form-label
          class="block text-gray-700 text-sm font-bold mb-2"
          nzRequired
          >Phone</nz-form-label
        >
        <nz-form-control
          [nzSpan]="20"
          class="ml-12 absolute"
          nzHasFeedback
          nzValidatingTip="Validating..."
          nzErrorTip="Please input your phone number or your phone number is not valid"
        >
          <input
            nz-input
            class="w-full"
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            formControlName="phone"
            placeholder="0xxyyyyyyy"
          />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div class="w-full">
      <nz-form-item class="flex flex-row justify-start items-start relative">
        <nz-form-label
          class="block text-gray-700 text-sm font-bold mb-2"
          nzRequired
          >E-mail</nz-form-label
        >
        <nz-form-control
          class="ml-12 absolute"
          [nzSpan]="20"
          nzHasFeedback
          [nzErrorTip]="emailErrorTpl"
        >
          <input
            nz-input
            formControlName="email"
            placeholder="email"
            type="email"
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          />
          <ng-template #emailErrorTpl let-control>
            <ng-container *ngIf="control.hasError('email')"
              >The input is not valid E-mail!</ng-container
            >
            <ng-container *ngIf="control.hasError('required')"
              >Please input your E-mail!</ng-container
            >
          </ng-template>
        </nz-form-control>
      </nz-form-item>
    </div>
    <nz-form-item class="w-full">
      <div class="w-full flex justify-between items-center">
        <button class="w-2/5" nz-button nzType="primary">Submit</button>
        <button class="w-2/5" nz-button (click)="resetForm($event)">
          Reset
        </button>
      </div>
    </nz-form-item>
  </form>
</div>
