<div class="h-screen w-full px-32 flex flex-col justify-between divide-y-8">
  <angular-tailwind-nx-user-form-selector
    (newUserAddEvent)="addUser($event)"
    (editUserEvent)="updateUser($event)"
    [editUserEvents]="EditEventsSubject.asObservable()"
  ></angular-tailwind-nx-user-form-selector>
  <angular-tailwind-nx-user-table-selector
    (deleteUserEvent)="deleteUser($event)"
    (editUserEvent)="emitEventToEditUser($event)"
    [users]="userList"
    [totalUsers]="totalUsers"
    (pageIndexChangeEvent)="onPageIndexChange($event)"
    (searchUserEvent)="searchUser($event)"
  ></angular-tailwind-nx-user-table-selector>
</div>
